build/
dist/
nbproject/build-impl.xml
nbproject/private
nbbuild/
source/nbproject
*.tag
*.o
*.d
*.a
*.html
*.js
*.css
*.png
logo/
various/
*.svg
*.map
*.md5
various/**
./.*
.*
coverage/**
dist/**
*.info
html/*
octave-workspace
.~lock*
*.odt
*~
source/*~
source/test/*~
Configuration
main.cpp
source/main.cpp
config.mk
main.cpp
